<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>List of Users:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Operations</th>
        </tr>
        <tr th:each="userItem : ${users}">
            <td th:text="${userItem.id}"></td>
            <td th:text="${userItem.name}"></td>
            <td th:text="${userItem.lastName}"></td>
            <td><input type="button" value="Update" onclick="window.location.href = 'updateUser?id=' + ${userItem.id}"/></td>
        </tr>

    </table>
</div>

<input type="button" value="add" onclick="window.location.href = 'addNewUser'"/>
</body>
</html>
